@font-face {
	font-family: 'Jet Brains Mono';
	src:
		url('/fonts/JetBrainsVar.woff2')
		format('woff2 supports variations'),
		url('/fonts/JetBrainsVar.woff2')
		format('woff2-variations');
	font-weight: 100 900;
	font-display: swap;
}

* { margin: 0; padding: 0; border: none; border-style: none; outline: none; text-decoration: none; vertical-align: baseline; list-style: none; background: none; appearance: none; box-sizing: border-box; font-family: 'Jet Brains Mono', monospace; font-weight: 350; }
*::before, *::after { box-sizing: border-box; }

html { line-height: 1.3; font-size: 100%; -webkit-text-size-adjust: 100%; }

body { min-height: 100vh; scroll-behavior: smooth; text-align: center; padding: 3rem 1rem 6rem 1rem; color: #fff; background: #151618 url('../images/hands.svg') bottom center no-repeat; background-size: 60rem auto; font-size: 1rem; text-align: center; display: grid; align-items: center; }

.rapper { width: 40rem; text-align: left; margin: 0 auto; }

.details { background: #373a3f; border-radius: 0.25rem; padding: 1rem; margin: 1rem 0 1rem 0; font-size: 0.75rem; }

.details ol li { list-style: decimal; padding-left: 0.5rem; padding-bottom: 0.25rem; }
.details ol { margin-left: 1rem; }

.grid { display: grid; grid-template-columns: 1fr min-content; gap: 3rem; align-items: center; }
	.grid img { max-width: 70px; }

.loading { border: 2px solid #373a3f; border-radius: 0.25rem; padding: 1rem; margin-bottom: 3rem; font-size: 0.85rem; color: #eadf92; display: grid; grid-template-columns: min-content 1fr; gap: 1rem; align-items: center; }
	.loading svg { width: 70px; }
	.loading h3 { margin: 0 0 0.5rem 0; }

.results { margin: 1rem 0 3rem 0; }
.result { display: grid; grid-template-columns: 4rem 1fr; gap: 1rem; align-items: center; border: 2px solid #b8b6ff; margin-bottom: 0.5rem; padding: 0.5rem; border-radius: 0.25rem; font-size: 0.85rem; }
	.number { font-size: 2rem; color: #b8b6ff; font-weight: 500; text-align: center; }

	.result.fathom { background: #b8b6ff; color: #151618; }
	.result.zero { background: #fff; border-color: #fff; color: #151618; }

.share { margin-bottom: 3rem; font-size: 1.5rem; }

@media screen and (max-width: 42rem) {
	body { background-size: 60rem auto; padding-bottom: 10rem; }
	.rapper { width: 100%; }
}

h2 { margin: 1rem 0; color: #b8b6ff; font-size: 1rem; }
	h2 a { color: inherit; }

h3, small { font-size: 0.85rem; }
	h3 { font-weight: 500; margin: 2rem 0 0.5rem 0; }
	small { color: #a3abba; }


img { max-width: 100%; }
a { color: #5affbc; text-decoration: underline; font-weight: 500; }

form { background: #fff; border-radius: 0.25rem; padding: 1rem; display: grid; grid-template-columns: 3fr 1fr; margin: 3rem 0 6rem 0; }

input, button { cursor: pointer; font-size: 1rem; }
	input { color: #151618; }
	button { color: #6c5ff4; font-weight: 500; text-align: right; }

.floating { animation-name: floating; animation-duration: 3s; animation-iteration-count: infinite; animation-timing-function: ease-in-out; }

@keyframes floating {
	0% { transform: translate(0,  0px) rotate(2deg); }
	50% { transform: translate(0, 20px) rotate(-2deg); }
	100% { transform: translate(0, -0px) rotate(2deg); }
}


.hidden {
	display: none;
	visibility: hidden;
}

.wrong { display: block; margin-top: 3rem; font-size: 0.65rem; color: #b8b6ff; }
.wrong a { color: inherit; }

.typed-cursor {
			color: #5affbc;
			opacity: 1;
			-webkit-animation: blink 0.95s infinite;
			-moz-animation: blink 0.95s infinite;
			-ms-animation: blink 0.95s infinite;
			-o-animation: blink 0.95s infinite;
			animation: blink 0.95s infinite;
		}

		@-keyframes blink {
			0% { opacity:1; }
			50% { opacity:0; }
			100% { opacity:1; }
		}
		@-webkit-keyframes blink {
			0% { opacity:1; }
			50% { opacity:0; }
			100% { opacity:1; }
		}
		@-moz-keyframes blink {
			0% { opacity:1; }
			50% { opacity:0; }
			100% { opacity:1; }
		}
		@-ms-keyframes blink {
			0% { opacity:1; }
			50% { opacity:0; }
			100% { opacity:1; }
		}
		@-o-keyframes blink {
			0% { opacity:1; }
			50% { opacity:0; }
			100% { opacity:1; }
		}

		.loading, .fade {
		        animation: fadeIn ease 1s;
		        -webkit-animation: fadeIn ease 1s;
		        -moz-animation: fadeIn ease 1s;
		        -o-animation: fadeIn ease 1s;
		        -ms-animation: fadeIn ease 1s;
		        }
		        @keyframes fadeIn {
		        0% {opacity:0;}
		        100% {opacity:1;}
		        }

		        @-moz-keyframes fadeIn {
		        0% {opacity:0;}
		        100% {opacity:1;}
		        }

		        @-webkit-keyframes fadeIn {
		        0% {opacity:0;}
		        100% {opacity:1;}
		        }

		        @-o-keyframes fadeIn {
		        0% {opacity:0;}
		        100% {opacity:1;}
		        }

		        @-ms-keyframes fadeIn {
		        0% {opacity:0;}
		        100% {opacity:1;}
		        }
